body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    margin: 0;
}

#map {
    height: 500px;
    width: 100%;
    background-image: url('https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_2/v1661938386/bosco/gj9ncox3wdkzh3cbmn6m/Campus-MAP.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

form {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input, textarea {
    margin: 5px;
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
